[Unit]
Description=Kubernetes Controller Manager

[Service]
ExecStart=/usr/bin/hyperkube controller-manager                             \
    --kubeconfig {{ kube_controller_manager_kubeconfig }}                   \
    --cluster-cidr={{ kube_controller_manager_cluster_net }}

Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
