[Unit]
Description=Kubernetes Controller Manager

[Service]
ExecStart=/usr/bin/hyperkube controller-manager                             \
    --kubeconfig {{ kube_controller_manager_kubeconfig }}                   \
    --service-account-private-key-file={{ kube_controller_manager_service_account_key }} \
    --cluster-cidr={{ kubernetes_cluster_cidr }}                            \
    --service-cluster-ip-range={{ kubernetes_service_cidr }}                \
    --allocate-node-cidrs=true                                              \
    --use-service-account-credentials

Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
